# Angel One Broker API Configuration
ANGEL_API_KEY=Gul267iQ
ANGEL_CLIENT_CODE=AAAC413396
ANGEL_PASSWORD=2580
ANGEL_TOTP_KEY=QPLLOZTSXDWJF53CFJXHLEHMWU

# Fyers Broker API Configuration
FYERS_CLIENT_ID=
FYERS_SECRET_KEY=
FYERS_REDIRECT_URI=http://127.0.0.1:5000/
FYERS_ACCESS_TOKEN=

# Dashboard & System Settings
PORT=8501
DEBUG=True
